<!--
  Generated template for the DetalhesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhes ID: {{contatos.codigo}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>

        <ion-item>
          <ion-label stacked>Nome</ion-label>
          <ion-input type="text" value="{{contatos.nome}}" [(ngModel)]="contatos.nome"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>E-mail</ion-label>
          <ion-input type="text" value="{{contatos.email}}" [(ngModel)]="contatos.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Nascimento</ion-label>
          <ion-input type="text" value="{{contatos.dateofbirth}}" [(ngModel)]="contatos.dateofbirth"></ion-input>
        </ion-item>      
        <ion-item>
          <ion-label stacked>Senha</ion-label>
          <ion-input type="text" value="{{contatos.password}}" [(ngModel)]="contatos.password"></ion-input>
        </ion-item>
      
      </ion-list>

      <button ion-button full (click)="salvar(contatos)">Salvar</button>

</ion-content>
