<ion-header>
  <ion-navbar>
    <ion-title>Lista de Usuários</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
     <ion-item *ngFor="let contato of contatos" (click)="goToEdit(contato)">  <!--(click)="detalhe(contato)"-->
      <ion-avatar item-start>
        <img src="../../assets/imgs/logo.png">
      </ion-avatar>
      <h2>{{contato.nome}}</h2>
      <p>{{contato.email}}</p>
    </ion-item> 
  </ion-list>

</ion-content>
